<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpMe</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <hearder>
        <h1>TEST AFFICHAGE</h1>
        
        <p><%= monInfo %> </p>
        <p>Message : <%=message%></p>
        <% if(condition){ %>
        <p>La condition est vraie</p>
        <% }else{ %>
        <p>La condition est fausse</p>
        <% } %>

    </hearder>

    <main>

    </main>

    <footer>

    </footer>
    
</body>
</html>